doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='script', href='/js/script.js')
  body
    header
      h1 My Site
    #leftSide.leftPush
      #app
      #exp
      #sit
      #jeu
    #floatingMenu.leftPush
      #selectorLeft.selector
      #selectorRight.selector
      #hideButton
        span
      #insideMenu
      #logo
      #menuTexte
        h1 ETIENNE CHAUMONT
        ul
          li.menuElement
          li.menuElement
          li.menuElement
          li.menuelement
        span#separator
        a#contactButton
    footer
      p Running on node with Express, Jade and Stylus