doctype
html
  head
    title #{title} - My Site
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900italic,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js')
    script(src='/js/script.js')

  body
    #leftSide.leftPush
      #app
      #exp
      #sit
      #jeu
    #floatingMenu.leftPush
      #selectorLeft.selector
      #selectorRight.selector
      #hideButton
        span
      #insideMenu
      #logo
      #menuTexte
        h1 ETIENNE CHAUMONT
        ul
          li.menuElement APPLICATIONS
          li.menuElement EXPERIENCES
          li.menuElement SITES
          li.menuelement JEUX
        span#separator
        a#contactButton
    #rightSide.rightSidePush
      #rightMenu.rightMenuPush
          ul
            li
              a(href='#section1') SECTION 1
            li
              a(href='#section2') SECTION 1
            li
              a(href='#section3') SECTION 1
        span#showButton
          span
        #contentRight
          #section1.section
          #section2.section
          #section3.section

    footer